{% extends 'books/base.html' %}

{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <form action="{% url 'edit_book' get_book.id %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Titulo de Libro</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            aria-describedby="titleHelp"
            value="{{get_book.title}}"
          />
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Nombre el autor</label>
          <input
            type="text"
            class="form-control"
            name="author"
            id="author"
            aria-describedby="titleHelp"
            value="{{get_book.author}}"
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Link de la imagen</label>
          <input
            type="text"
            class="form-control"
            name="image"
            id="image"
            aria-describedby="authorImage"
            value="{{get_book.image}}"
          />
        </div>
        <button type="submit" class="btn btn-primary">Editar Libro</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}